{% extends 'AppBlog/padre.html' %}

{% load static %}

{%block Header%}
    <header class="masthead" style="background-image: url({%static 'AppBlog/assets/img/inicio.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Proyecto Blog</h1>
                        <span class="subheading">Un blog de mierda hecho por Candelero, Daniel y Bryan</span>
                    </div>
                </div>
            </div>
        </div>
    </header> 
{%endblock%}

{%block contenidoQueCambia%}

<h3>Bienvenido a nuestra página.</h3>

{%endblock%}